<section id="domu" class="relative h-screen w-full overflow-hidden">
    <!-- Carousel Background Slides -->
    <div class="carousel">
        <div class="carousel-slide"></div>
        <div class="carousel-slide"></div>
        <div class="carousel-slide"></div>
        <div class="carousel-slide"></div>
        <div class="carousel-slide"></div>
        <div class="carousel-slide"></div>
    </div>

    <div class="absolute inset-0 bg-black/35 z-10"></div>

    <!-- Hero Text -->
    <div class="relative z-20 flex flex-col justify-center items-center h-full text-center text-white px-4 bg-gradient-to-t from-black/70 to-transparent hero-text">
        <h1 class="lg:text-9xl text-5xl sm:text-8xl font-bold mb-6 drop-shadow-lg">Sádrokartony Trmota</h1>
        <p class="text-2xl sm:text-4xl mb-8 drop-shadow-md">Řemeslník z Klatovska, kterému můžete věřit</p>
        <div class="flex flex-col flex-row gap-4">
            <a href="#kontakt" class="px-6 py-3 bg-yellow-500 text-black font-semibold rounded-md hover:bg-yellow-600 transition">
                Kontakt
            </a>
            <a href="#sluzby" class="px-6 py-3 border border-white text-white font-medium rounded-md hover:bg-white hover:text-black transition">
                Galerie
            </a>
        </div>
    </div>
</section>