<!DOCTYPE html>
<html lang="cs">

<head>
    <!-- Základní metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="language" content="cs">

    <!-- SEO metadata -->
    <meta name="description" content="Jsem David Trmota a nabízím sádrokartonářské práce v Plzeňském kraji. Montuji příčky, podhledy a půdní vestavby. Působím hlavně v Klatovech, Sušici, Přešticích, Plzni, Rokycanech a přilehlém okolí.">
    <meta name="keywords" content="sádrokartonář Klatovy, sádrokartonář Rokycany, sádrokartonář Plzeňský kraj, montáž sádrokartonu Klatovy, sádrokartonové příčky, sádrokartonové podhledy, sádrokartonové konstrukce, rekonstrukce interiérů, sádrokartonářské práce, sádrokartony Přeštice, sádrokartonář Přeštice, sádrokartonář Sušice, sádrokartonář Domažlice">
    <meta name="author" content="David Trmota, web by David Břach" />
    <meta name="robots" content="index, follow">

    <meta name="theme-color" content="#facc15" />

    <!-- Open Graph Metadata -->
    <meta property="og:title" content="David Trmota - Sádrokartonář Plzeňský kraj" />
    <meta property="og:description" content="Profesionální sádrokartonářské práce v Plzeňském kraji – montáž příček, podhledů a půdních vestaveb. Klatovy, Sušice, Domažlice, Plzeň, Rokycany a okolí" />
    <meta property="og:image" content="/media/gallery/sadrokarton_15.webp" />
    <meta property="og:url" content="https://sadrokartonytrmota.cz" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Sádrokartony Trmota" />
    <meta property="og:locale" content="cs_CZ" />

    <!-- Twitter Cards Metadata -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="David Trmota - Sádrokartonář Plzeňský kraj" />
    <meta name="twitter:description" content="Sádrokartonářské práce v Plzeňském kraji. Příčky, podhledy, půdní vestavby. Klatovy, Sušice, Domažlice, Plzeň, Rokycany a okolí." />
    <meta name="twitter:image" content="/media/gallery/sadrokarton_15.webp" />

    <link rel="canonical" href="https://sadrokartonytrmota.cz">
    <base href="/" />

    <!-- Styly -->
    <link rel="stylesheet" href="tailwind.css" />

    <!-- Preloady -->
    <link rel="preload" href="/_framework/blazor.web.js" as="script">
    <link rel="preload" href="/tailwind.css" as="style">

    <!-- Co nejrychlejší načtení prvního obrázku -->
    <link rel="preload" as="image" href="/media/carousel/drywall_carousel_1.webp" />

    <!-- Standardní Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/media/brand/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/brand/favicon-16x16.png">
    <link rel="shortcut icon" href="/media/brand/favicon.ico">

    <!-- Apple Touch Icon (pro iOS zařízení) -->
    <link rel="apple-touch-icon" sizes="180x180" href="/media/brand/apple-touch-icon.png">

    <!-- Android Chrome Icon -->
    <link rel="icon" type="image/png" sizes="192x192" href="/media/brand/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/media/brand/android-chrome-512x512.png">

    <HeadOutlet />
    <!-- Schema.org Person -->
    <script type="application/ld+json">
        {
          "@@context": "https://schema.org",
          "@@type": "Person",
          "name": "David Trmota",
          "jobTitle": "Sádrokartonář",
          "description": "David Trmota je zkušený řemeslník specializující se na montáže sádrokartonových příček, podhledů a půdních vestaveb v Plzeňském kraji.",
          "address": {
            "@@type": "PostalAddress",
            "addressRegion": "Plzeňský kraj",
            "addressCountry": "CZ"
          },
          "areaServed": [
            "Klatovy",
            "Plzeň",
            "Sušice",
            "Přeštice",
            "Domažlice",
            "Rokycany"
          ],
          "worksFor": {
            "@@type": "Organization",
            "name": "Sádrokartony Trmota"
          },
          "url": "https://tvujweb.cz"
        }
    </script>

    <!-- Schema.org FAQPage -->
    <script type="application/ld+json">
        {
          "@@context": "https://schema.org",
          "@@type": "FAQPage",
          "mainEntity": [
            {
              "@@type": "Question",
              "name": "Jak dlouho trvá montáž sádrokartonu?",
              "acceptedAnswer": {
                "@@type": "Answer",
                "text": "Doba realizace závisí především na velikosti prostoru a konstrukčních požadavcích. Menší bytové úpravy většinou zaberou kolem 2–3 dnů. Přibližný harmonogram montáže budete znát dopředu."
              }
            },
            {
              "@@type": "Question",
              "name": "Kolik stojí montáž sádrokartonu?",
              "acceptedAnswer": {
                "@@type": "Answer",
                "text": "Cenu ovlivňuje několik faktorů – rozsah práce, typ konstrukce, náročnost práce nebo požadované materiály. Teprve až budu znát všechny detaily, mohu zákazníkovi bezplatně poskytnout fundovanou cenovou nabídku."
              }
            }
          ]
        }
    </script>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <a href="https://www.toplist.cz" id="toplistcz1838544" title="TOPlist">
        <noscript>
            <img src="https://toplist.cz/dot.asp?id=1838544&njs=1" border="0"
                 alt="TOPlist" width="1" height="1" />
        </noscript><script language="JavaScript">
                       (function(d,e,s) {d.getElementById('toplistcz1838544').innerHTML='<img src="https://toplist.cz/dot.asp?id=1838544&http='+
                       e(d.referrer)+'&t='+e(d.title)+'&l='+e(d.URL)+'&wi='+e(s.width)+'&he='+e(s.height)+'&cd='+
                       e(s.colorDepth)+'" width="1" height="1" border="0" alt="TOPlist" />';
                       }(document,encodeURIComponent,window.screen))
        </script>
    </a>
</body>

</html>
